header {
    margin: 1rem;
    background-color: #086805;
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
}

header p {
    margin: 0.5rem 0 0;
}