.todo-list {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background: #d9d9d9;
    border: 1px solid #b1b1b1;
    /* adding space btwn list items */
    margin-bottom: 0.5rem;
    border-radius: 4px;
}

.todo-item__label {
    flex-grow: 1;
}

.todo-item__remove-button {
    background-color: #e43131;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.3rem 0.6rem;
}

.todo-form__button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background: #065203;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.todo-form__button:hover {
    background: #3d59d8;
}